<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test_All">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="automationexercise.testcases.HomePageTest">
      <methods><include name="verifySubscriptionInhomePage"></include></methods>
      </class>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->